<div id="level" class="mt-5">
  <h1>Streak: {{currentLevel}}</h1>
</div>
<div class="container">
  <h1 class="page-title mt-5">D GAME!</h1>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 mt-5">
      <form action="/game" method="POST">

        <div class="form-group">
          <label for="word">What was the word?</label>
          <input type="text" class="form-control" id="word" name="word" spellcheck="false" autocomplete="off"
            aria-describedby="emailHelp">
          <small id="note1" class="form-text text-muted">Use capital letter in the beginning of proper nouns(i.e.
            "Canada") </small>
          <small id="note2" class="form-text text-muted">Hit Enter after typing the word</small>
        </div>

        <button type="submit" class="btn btn-primary hide">Submit</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <button id="play-btn"></button>
  </div>
</div>

<audio id="player" type="audio/mpeg" autoplay <source src={{audioSrc}} type="audio/mpeg" />
</audio>