* {
  font-family: 'Source Serif Pro', serif;
  color: #004d40;
}

body {
  background-color: #b2dfdb;
}

.hide {
  display: none;
}

.page-title {
  text-align: center;
}

#play-btn:focus {
  outline: 0;
}
#play-btn:hover {
  box-shadow: 2px 2px #555;
}
#play-btn {
  transition-duration: 0.3s;

  background-image: url('../assets/play.svg');
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: none;
  background-color: inherit;
}

#level {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* signup page  */
#signup-form,
#signin-form {
  width: 300px;
  border: 2px #41c300 solid;
  border-radius: 5px;
  padding: 20px;
}

p > a {
  color: #05b3a1;
  text-decoration: underline;
}
#about-game-paragraph {
  text-align: justify;
  width: 400px;
}
